body {
  background-color: #cad3d3;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.box {
  width: 360px;
  margin: 180px 40px;
}

.displayCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-model1{  
  height: 100px;
}

.box-model2{
  margin: 17px auto;
}

/* Back ground Color*/
.bg1 {
  background-color: #ffffff;
}

.bg2 {
  background-color: #2c2e3d;
}

/* Text color */
.colorWhite {
  color: #ffffff;
}

.color1 {
  color: #5f727f;
}

.color2 {
  color: #99a9b5;
}

.color3 {
  color: #2196f7;
}

.color4 {
  color: #d74498;
}

.color5 {
  color: #32ad1e;
}

.color6 {
  color: #b6c6c9;
}

/* nth-child */
div#nth > p {
  padding: 17px;
  margin: 0px;
}

div#nth > p:nth-child(odd) {
  background-color: #f4f6f7;
}

div#nth > p:nth-child(even) {
  background-color: #ffffff;
}

/* Button */
.btn1, .btn2, .btn3 { 
  background-color: #ffffff; 
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;  
}

.btn1:hover, .btn2:hover, .btn3:hover {
  color: #ffffff;
  cursor: pointer;  
}

.btn1:hover {
  background-color: #2195f7;
}

.btn2:hover {
  background-color: #6c136f;
}

.btn3:hover {
  background-color: #31ad1d;
}

.btn-box1, .btn-box2, .btn-box3 {
  padding: 15px 30px;    
  margin: 50px;
}

.btn-box1 {
  border: 1px solid #2195f7;
  color : #2195f7;
}

.btn-box2 {
  border: 1px solid #6c136f;
  color : #6c136f;
}

.btn-box3 {
  border: 1px solid #31ad1d;
  color : #31ad1d;
}

/* font size */
.font36, .font19, .font12 {
  font-family: 'Montserrat', sans-serif;
}

.font32, .font24, .font16, .font14 {
  font-family: 'Source Sans Pro', sans-serif;
}

.font36, .font19 {
  font-weight: 100; /*Ultra Light*/
}

.font32, .font24 {
  font-weight: 200; /*light*/
}

.font16, .font14 {
  font-weight: normal; /*regular*/
}

.font12 {
  font-weight: 700;  /* bold */
}

.font36 {
  font-size: 36px;  
}

.font32 {
  font-size: 32px;  
}

.font24 {
  font-size: 24px;
}

.font19 {
  font-size: 19px;
}

.font16 {
  font-size: 16px;
}

.font14 {
  font-size: 14px;
}

.font12{
  font-size: 12px;
}

/* Image */

.image1{
  background-image: 
    url("image1.jpg");
}
  
.image2{
  background-image: 
    url("image2.jpg");
}

.image3{
  background-image: 
    url("image3.jpg");
}

.image4{
  background-image: 
    url("image4.png");
}

.size1 {
  width: 360px; height: 270px;  
}

.size2 {
  width: 65px; height: 65px;
}

.img-bg1, .img-bg2 {
  background-repeat: no-repeat;
  background-size: cover;
}

.img-bg1 {
  position: relative; 
}

.img-bg2 {
  position: absolute;
  top: -15px; left: -15px; 
  z-index: 1;
}

.transbox {
  position: absolute;
  width: 360px; height: 270px;
  background-color: #393d4f;
  opacity: 0.7;
}

/* Circle */

.circle {
  position: relative;
  top: 60px; left: 120px;
  width: 120px; height: 120px;
  border-radius: 50%;
  z-index: 1;
}